<html>
    <head><title></title>
        <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection" />
        <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family= Pompiere' rel='stylesheet'>

    </head>
    <body>

        <center> <form  height="25" action="/" method="post">
            <br>
            <input type="text" name="city" placeholder="Search City..">
            <input class="button" type="submit" value="SHOW">
            </form>
        </center>
        <div class="container">
            <%  for(i in restaurant_lists.restaurants){%>
            <div class="item">
                <img src="<%=restaurant_lists.restaurants[i].restaurant.featured_image%>">
                <center>
                    <input type="hidden" id="res_id" class="title" value="<%= restaurant_lists.restaurants[i].restaurant.id %>" name="id">
                    <p class="title" name="title"><%= restaurant_lists.restaurants[i].restaurant.name %>
                    <p class="title"> Rating : <%= restaurant_lists.restaurants[i].restaurant.user_rating.aggregate_rating %></p>    

                </center>
                <strong><p class="detail">  Cuisines :<%= restaurant_lists.restaurants[i].restaurant.cuisines%></p>
                    <p class="detail"> Average cost for two :<%= restaurant_lists.restaurants[i].restaurant.average_cost_for_two %>(<%= restaurant_lists.restaurants[i].restaurant.currency %>)</p>
                    <p class="detail">  Address : <%= restaurant_lists.restaurants[i].restaurant.location.address %></p></strong>
                <center><button class="button4" onclick="window.location.href='/about/?id=<%=restaurant_lists.restaurants[i].restaurant.id%>'">Show Details</button></center>
            </div> 
            <%}%>

        </div>      
    </body>
</html>