<html>
  <head><title></title>
      <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection" /> 
      <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family= Pompiere' rel='stylesheet'>

    </head>
  <body>
     
   <center> <form  height="25" action="/" method="post">
     <br>
      <input type="text" name="city" placeholder="Search City..">
      <input class="button" type="submit" value="SHOW">
       </form>
      </center>
      <form method="GET" action='/about'>
                   <div class="container">
       <%  for(i in rest_list.restaurants){%>
                          <div class="item">
                             <img src="<%=rest_list.restaurants[i].restaurant.featured_image%>">
                       <center>
                       <input type="hidden" class="title" value="<%= rest_list.restaurants[i].restaurant.id %>" name="id">
                           <p class="title" name="title"><%= rest_list.restaurants[i].restaurant.name %>
        <p class="title"> Rating : <%= rest_list.restaurants[i].restaurant.user_rating.aggregate_rating %></p>    
                     
                              </center>
            <strong><p class="detail">  Cuisines :<%= rest_list.restaurants[i].restaurant.cuisines%></p>
            <p class="detail"> Average cost for two :<%= rest_list.restaurants[i].restaurant.average_cost_for_two %>(<%= rest_list.restaurants[i].restaurant.currency %>)</p>
                <p class="detail">  Address : <%= rest_list.restaurants[i].restaurant.location.address %></p></strong>
                                  <center>   <button class="button5" type="submit">SHOW DETAILS</button> </center>
                       </div> 
      <%}%>
            
                       
      </div>
      </form>
      

  </body>
</html>